<?xml version='1.0' encoding='utf-8'?>
<widget id="com.regionescompetitivas" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Informe de Gobierno</name>
    <description>
        Regiones Competitivas S.C. - Gobierno del Estado de Chihuahua.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <preference name="permissions" value="none"/>
	  <preference name="orientation" value="default"/>
	  <preference name="target-device" value="universal"/>
	  <preference name="fullscreen" value="true"/>
	  <preference name="webviewbounce" value="true"/>
	  <preference name="prerendered-icon" value="true"/>
	  <preference name="stay-in-webview" value="false"/>
	  <preference name="ios-statusbarstyle" value="black-opaque"/>
	  <preference name="detect-data-types" value="true"/>
	  <preference name="exit-on-suspend" value="false"/>
	  <preference name="show-splash-screen-spinner" value="true"/>
	  <preference name="auto-hide-splash-screen" value="true"/>
	  <preference name="disable-cursor" value="false"/>
	  <preference name="android-minSdkVersion" value="14"/>
	  <preference name="android-installLocation" value="auto"/>

	  <plugin name="cordova-plugin-file" spec="6.0.1" />
	  <!-- <cdv:plugin name="org.apache.cordova.file" /> -->

	  <icon src="icon.png"/>
	  <icon src="www/res/icon/android/icon-36-ldpi.png" cdv:platform="android" cdv:qualifier="ldpi"/>
	  <icon src="www/res/icon/android/icon-48-mdpi.png" cdv:platform="android" cdv:qualifier="mdpi"/>
	  <icon src="www/res/icon/android/icon-72-hdpi.png" cdv:platform="android" cdv:qualifier="hdpi"/>
	  <icon src="www/res/icon/android/icon-96-xhdpi.png" cdv:platform="android" cdv:qualifier="xhdpi"/>
	  <!-- <icon src="www/res/icon/blackberry/icon-80.png" cdv:platform="blackberry"/>
	  <icon src="www/res/icon/blackberry/icon-80.png" cdv:platform="blackberry" cdv:state="hover"/> -->
	  <!-- <icon src="www/res/icon/ios/icon-57.png" cdv:platform="ios" width="57" height="57"/>
	  <icon src="www/res/icon/ios/icon-72.png" cdv:platform="ios" width="72" height="72"/>
	  <icon src="www/res/icon/ios/icon-57-2x.png" cdv:platform="ios" width="114" height="114"/>
	  <icon src="www/res/icon/ios/icon-72-2x.png" cdv:platform="ios" width="144" height="144"/>
	  <icon src="www/res/icon/webos/icon-64.png" cdv:platform="webos"/>
	  <icon src="www/res/icon/windows-phone/icon-48.png" cdv:platform="winphone"/>
	  <icon src="www/res/icon/windows-phone/icon-173-tile.png" cdv:platform="winphone" cdv:role="background"/> -->
	  <cdv:splash src="www/res/screen/android/screen-ldpi-portrait.png" cdv:platform="android" cdv:qualifier="port-ldpi"/>
	  <cdv:splash src="www/res/screen/android/screen-mdpi-portrait.png" cdv:platform="android" cdv:qualifier="port-mdpi"/>
	  <cdv:splash src="www/res/screen/android/screen-hdpi-portrait.png" cdv:platform="android" cdv:qualifier="port-hdpi"/>
	  <cdv:splash src="www/res/screen/android/screen-xhdpi-portrait.png" cdv:platform="android" cdv:qualifier="port-xhdpi"/>
	  <!-- <cdv:splash src="www/res/screen/blackberry/screen-225.png" cdv:platform="blackberry"/>
	  <cdv:splash src="www/res/screen/ios/screen-iphone-portrait.png" cdv:platform="ios" width="320" height="480"/>
	  <cdv:splash src="www/res/screen/ios/screen-iphone-portrait-2x.png" cdv:platform="ios" width="640" height="960"/>
	  <cdv:splash src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" cdv:platform="ios" width="640" height="1136"/>
	  <cdv:splash src="www/res/screen/ios/screen-ipad-portrait.png" cdv:platform="ios" width="768" height="1024"/>
	  <cdv:splash src="www/res/screen/ios/screen-ipad-landscape.png" cdv:platform="ios" width="1024" height="768"/>
	  <cdv:splash src="www/res/screen/windows-phone/screen-portrait.jpg" cdv:platform="winphone"/> -->
    <content src="index.html" />
    <access origin="*" />
</widget>
