

<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonecdv.informegobiernocuu" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Informe de Gobierno CUU</name>
    <description>
        Regiones Competitivas S.C. - Gobierno del Estado de Chihuahua
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
	  
	  
      <access origin="*" />
</widget>
